# -------------------------------
# Docker volumes and environment files
mysql-data/
.env

# Logs and temp files
*.log
*.php~
.DS_Store

# IDE/editor settings
.idea/
.vscode/

# Composer (PHP)
vendor/

# Node.js (Playwright UI tests)
node_modules/
playwright-report/
test-results/

# Dependency Check
/odc-data/
/odc-reports/

# PHPUnit
.phpunit.result.cache
coverage/
