/* groups.php css */
.form-wrapper {
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
}

.form-wrapper label {
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

.form-control, .form-select {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.form-check-input {
    accent-color: #7a5cff; /* purple */
}

.form-check-label {
    margin-right: 20px;
    font-weight: 500;
}

.btn-cancel {
    background: #fff;
    border: 2px solid #7a5cff;
    color: #7a5cff;
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s;
    text-decoration: none;
}

.btn-cancel:hover {
    background: #f0f0ff;
    color: var(--primary);
}

.btn-submit {
    background: #7a5cff;
    color: #fff;
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s;
}

.btn-submit:hover {
    background: var(--accent);
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* group_info.php css */
.group-container {
    /* max-width: 600px; */
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.group-title h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.group-title p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}

.join-button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.join-button:hover {
    background-color: var(--accent);
}

.members-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.group-info .info-item {
    padding: 5px 0 25px 60px;
}

.group-info .profile-link {
    color: var(--text);
    transition: all 0.3s ease;
}

.group-info .current-members.name-list > li {
    padding: 18px 0;
}

.group-info .profile-link:hover {
    color: var(--primary);
}

.join-button[disabled] {
    background-color: var(--text-secondary);
    cursor: not-allowed;
}