.content-container {
    display: flex;
    flex-direction: row;
}

.group-container, .info-container {
    width: 50%;
}

.home .group-container {
    border-radius: 0;
}

.group-wrapper, .info-wrapper {
    width: 80%;
    margin: 2% auto;
}

.group-wrapper .title, .info-wrapper .title {
    margin-bottom: 5%;
    padding-right: 3%;    
}

.group-container {
    border-right: 4px solid var(--secondary);
}

.home .group-item {
    cursor: pointer;
}

.group-name {
    color: var(--text);
    transition: all 0.3s ease;
}

.group-name:hover {
    color: var(--accent);
}

.group-item, .info-item {
    position: relative;
    background-color: var(--secondary-25);
    padding: 20px;
    padding-left: 34px;
    border-radius: 25px;
    margin-bottom: 5%;
}

.group-item.selected {
    background-color: var(--accent-25);
}

.group-item > span, .info-item > span {
    display: block;
}

.group-item > .header, .info-item > .header {
    font-size: 20px;
    font-weight: bold;
}

.info-item {
    display: none;
}

.info-item.showing {
    display: block;
}

.member-count, .leader {
    position: absolute;
    right: 4%;
}

.member-count {
    bottom: 8%;
    font-weight: bold;
}

.leader {
    width: 20px;
    top: 8%;
}

.name-list > li, .current-members.name-list > li.user {
    padding: 18px 0;
    position: relative;
    font-weight: bold;
}

.current-members.name-list > li {
    padding: 0;
}

.name-list > li::after {
    position: absolute;
    content: '';
    width: 100%;
    left: -30px;
    bottom: 0;
    border-bottom: 3px solid var(--secondary);
}

.name-list > li > div > a {
    margin-left: 5px;
}

.request-wrapper, .member-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.home .reply-button, .home .delete-button {
    padding: 8px 14px;
    color: var(--background);
    background-color: var(--primary);
    border-radius: 8px;
    border: none;
    font-size: 0.8em;
    font-weight: bold;
    transition: all 0.3s ease;
}

.home .reply-button.disabled {
    background-color: var(--text-secondary);
    cursor: not-allowed;
}

.home .reply-button:hover {
    background-color: var(--accent);
}

.home .reply-button.disabled:hover {
    background-color: var(--text-secondary);
    cursor: not-allowed;
}

.delete-section {
    width: 120px;
}

.grayscreen {
    position: fixed;
    content: '';
    width: 100vw;
    height: 100vh;
    background: #000000cc;
    z-index: 99;
    top: 0;
    display: none;
}

.delete-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 40%;
    background: var(--background);
    padding: 24px;
    border-radius: 20px;
}

.home .delete-button {
    font-weight: bold;
    color: var(--text);
    background-color: var(--danger);
    cursor: pointer;
}

.home .delete-button:hover {
    filter: brightness(0.8);
}

.cancel-section:hover {
    cursor: pointer;
    text-decoration: underline;
}

.accept-btn, .reject-btn {
    padding: 0;
    width: 32px;
}

.pending-request > li::marker, .pending-request .profile-link {
    color: var(--primary);
}

.current-members > li::marker, .profile-link {
    color: var(--text);
}

.current-members > li.user .profile-link, .current-members > li.user::marker {
    color: var(--accent);
}

ol li.admin:first-child::marker {
    content: "";
}

ol li.admin:first-child::before {
    content: "";
    position: absolute;
    left: -24px;
    width: 20px; 
    height: 20px; 
    background-image: url('../img/crown.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    top: 50%;
    transform: translateY(-62%);
}

/* group admin */
.admin .leader {
    top: 50%;
    right: 11%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1280px) {
    .content-container {
        flex-direction: column;
    }
    
    .group-container, .info-container {
        width: 100%;
    }
    
    .group-container .title, .info-container .title, .group-item {
        margin-bottom: 2%;
    }

    .group-wrapper, .info-wrapper {
        width: 90%;
    }
    
    .group-container {
        border-right: none;
    }    
}

@media screen and (max-width: 620px) {
    .home.content-container {
        width: 90%;
        margin: 0 auto;
    }
}
